*{
    box-sizing: border-box;
}
html{
    height: 100%;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(#e664cc, #a1a9fb); */
}

section{
    width: 80vw;
    height: 80vh;
    margin: 9vh auto;
    border: solid 0.4rem black;
    /* border-radius: 0.5rem; */
}
nav{
    height: 5vh;
}
ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 5rem 5rem 0;
}
.choixul{
    margin: 2rem 5rem;
}
li{
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    width: 20%;
}
.choixli{
    width: 20rem;
    font-size: 1.7rem;
    color: white;
    /* border-radius: 0.5rem; */
}

.update, .delete{
    width: 50%;
    border: none;
    /* border-radius: 2rem; */
    color: white;
}
.update{
    background-color: rgb(255, 255, 0);
}
.delete{
    background-color: rgb(255, 0, 0);
}
button:hover{
    cursor: pointer;
}

.add{
    /* background-color: rgb(42, 204, 139); */
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 6vw;
    top: 10vh;
    border-radius: 50%;
    font-size: 5rem;
    color: black;
    text-align: center;
}
.add, .add:hover{
    text-decoration: none;
}

.noir{
    background-color: black;
}
.rouge{
    background-color: rgb(255, 0, 0);
}
.jaune{
    background-color: rgb(255, 255, 0);
}
.bleu{
    background-color: rgb(0, 0, 255);
}

a{
    padding-bottom: 1rem;
}